<%- include('partials/header') -%>
<h1>Compose</h1>
<form action="/compose" class="form" method="post">
<div class="form-group">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="postTitle">
    <label for="post" class="form-label">Post</label>
    <textarea class="form-control" id="post" rows="5" cols="50" name="postData"></textarea>
</div>
<button type="submit" class="btn btn-primary" name="button">Publish</button> 
</form>
<%- include('partials/footer') -%>